.headerContainer {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
  z-index: 100;
  position: sticky;
}

.logo,
.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoText {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  color: #000;
}

.logoText h4 {
  font-size: 0.8rem;
  font-weight: 500;
}

.logoImg {
  width: 80px;
  height: 80px;
}
