.Btn,
.activeBtn {
  background-color: #fff;
  border: #007042 solid 3px;
  border-radius: 45px;
  color: #007042;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;

  transition: all 0.3s ease-in-out;
}

.activeBtn,
.Btn:hover {
  background-color: #007042;
  color: #fff;
  cursor: pointer;
}
